
body { 
    background-image: url("../images/curtain.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
}



button {
    background-color: black;
    padding: 10px 25px 10px 25px;
    border-radius: 50%;
    margin: 10px;
    font-family: cursive;
    color: white;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    outline: 0;
    cursor: pointer;
    

}

button:hover {color: red}

button:active {
  background-color: black;
  box-shadow: 0 5px red;
  transform: translateY(4px);
}





#gifsContainer {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

#buttonContainer {
    width:100%;
    background-color: transparent;
    border-style: dotted;
    border-color: white;
    margin: 10px 5px 10px 5px;

}

img {
    border-style: dotted;
    border-color: white;
    background-color: transparent;
    color: white;
    margin: 0;

}

.gifImage {
    color: white;
}

footer {
    background-color: black;
    width: 100%;
    font-size: 8px;
    font-family: cursive;
    color: white;
    text-align: center;
    padding-top: 30px;
    position:fixed;
    bottom:0;left:0;right:0;height:40px;
    

}


#submit {
    background-color: transparent;
    color:white;
    font-size: 12px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 5px 10px 5px 10px;
    justify-content: center;
    outline: 0;

    
}

#userChoice {
    background-color: transparent;
    color:white;
    font-size: 12px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    font-family: cursive;
    outline: 0;
    padding: 0 50px;
    margin: auto 0;
    /*width: 200px;
    height: 15px;*/

}

p {
    color: white;
    background-color: transparent;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-family: cursive;
}

.gifs {
    margin: 0 10px 10px 0;
    
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: cursive;
    font-size: 14px;


}


